/* 移除GitBook目录下方的“本书使用GitBook发布”字样 */
.gitbook-link {
  display: none !important;
}

.markdown-section p code {
  padding: .1em .2em;
  font-size: 1em;
  background-color: #e2dfdf;
  color: #247b7c;
  border-radius: 0.5em;
}

/* Night style下搜索框相关色 */
.color-theme-2 .book-summary #book-search-input{
  background: #2d3143;
  border-bottom: 1px solid #3b3f54;
}

.color-theme-2 #book-search-results .search-results .has-results .search-results-item>:last-child {
  color: #7c8593;
}

/* Sepia style下搜索框背景色 */
.color-theme-1 .book-summary #book-search-input{
  background: #111111;
}
